Source: cfv
Section: utils
Priority: optional
Maintainer: Artur Ladka <arturladka@gmail.com>
Build-Depends: debhelper-compat (= 13),
 dh-sequence-python3,
 pybuild-plugin-pyproject,
 python3-all,
 python3-build,
 python3-setuptools,
 python3-wheel
Standards-Version: 4.7.0
Rules-Requires-Root: no
Testsuite: autopkgtest-pkg-python
Homepage: https://github.com/cfv-project/cfv
Vcs-Browser: https://github.com/cfv-project/cfv/tree/python3
Vcs-Git: https://github.com/cfv-project/cfv.git -b python3

Package: cfv
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Suggests: python3-pil
Description: file checksum creator and verifier
 cfv is a command-line utility to create and verify a wide range of checksum
 file formats, including sfv, csv, crc, md5, and sha*.
 It also supports torrent, par, and par2 verification.
