#!/usr/bin/make -f

export PYBUILD_SYSTEM=pyproject

%:
	dh $@ --buildsystem=pybuild

override_dh_installdocs:
	dh_installdocs
	if [ -e debian/cfv/usr/share/doc/cfv/Changelog ]; then \
		mv debian/cfv/usr/share/doc/cfv/Changelog debian/cfv/usr/share/doc/cfv/changelog; \
	fi

override_dh_auto_test:
	:
